<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UniqueWebSite_XML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <UniqueWebSite_XML.Properties.Settings>
            <setting name="DefLabelFont" serializeAs="String">
                <value>Times New Roman, 10pt</value>
            </setting>
            <setting name="DefTextboxFont" serializeAs="String">
                <value>Times New Roman, 9.75pt</value>
            </setting>
        </UniqueWebSite_XML.Properties.Settings>
    </userSettings>
</configuration>
